*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --daybgc:rgba(231, 230, 230, 0.7);
  --nightbgc:rgb(31,31,31);
}
.app{
  position: relative;
  display: flex;
  justify-content: space-between;
  width:450px;
  min-height: 100vh;
  margin:0 10%;
  background-color: var(--daybgc);
}
.div{
  width:95%;
}

